ol.tree {
    padding-left: 30px;
}

ol.tree li {
    list-style-type: none;
    color: #000;
    position: relative;
    margin-left: -15px;
}

ol.tree li label {
    padding-left: 37px;
    cursor: pointer;
    display: block;
}

ol.tree li input {
    width: 1em;
    height: 1em;
    position: absolute;
    left: -0.5em;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

ol.tree li input + ol {
    height: 1em;
    margin: -16px 0 0 -44px;
    background: url("../css/expand.PNG") no-repeat 40px 0;
    background-size: 13px 13px;
}

ol.tree li input + ol > li {
    border-left: 1px solid #999;
    display: none;
    padding-left: 1px;
    position: relative;
}

ol.tree li input + ol > li:last-of-type{
    border: none;
}

ol.tree li input + ol > li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background: #999;
    bottom: 0;
}

ol.tree li input + ol > li:last-of-type:before {
    position: absolute;
    content: " ";
    width: 0px;
    height: 0px;
    background: #999;
}

ol.tree li.file {
    margin-left: -1px !important;
}

ol.tree li.file a {
    width: 100%;
    display: inline-block;
    margin-left: 21px;
    padding-left: 4px;
    color: #000;
    text-decoration: none;
}

ol.tree li input:checked + ol {
    height: auto;
    margin: -21px 0 0 -44px;
    padding: 18px 0 0 47px;
    background: url("../css/collapse.PNG") no-repeat 40px 5px;
    background-size: 13px 13px;
}

ol.tree li input:checked + ol > li {
    display: block;
    padding: 0 0 0.063em;
}

ol.tree li input:checked + ol > li:first-child {
   padding: 0 0 0.125em;
}

ol.tree  .ts-active-file{
    color: #fff!important;
    background: #9575cd;
}


